<div class="container index-navbar">
    <a href="spoon" class="{% if page.url == "/spoon.html" %}active{% endif %}">Spoon University</a>
    <a href="sandiego" class="{% if page.url == "/sandiego.html" %}active{% endif %}">Spring Break 2018: San Diego & Las Vegas</a>
    <a href="seattle" class="{% if page.url == "/seattle.html" %}active{% endif %}">Food Tour in Seattle</a>
    <a href="switzerland" class="{% if page.url == "/switzerland.html" %}active{% endif %}">Spring Break in Switzerland</a>
</div>
