<div class="container index-navbar">
    <a href="shareu" class="{% if page.url == "/shareu.html" %}active{% endif %}">Share U</a>
    <a href="travelr" class="{% if page.url == "/travelr.html" %}active{% endif %}">Travelr</a>
    <a href="gettimeblocks" class="{% if page.url == "/gettimeblocks.html" %}active{% endif %}">Landing Page Design</a>
    <a href="day2life" class="{% if page.url == "/day2life.html" %}active{% endif %}">Analytics for Developers</a>
    <a href="personal" class="{% if page.url == "/personal.html" %}active{% endif %}">Personal Portfolio</a>
    <a href="canvas" class="{% if page.url == "/canvas.html" %}active{% endif %}">Canvas Case Study</a>
    <a href="youtube" class="{% if page.url == "/youtube.html" %}active{% endif %}"">Youtube Data Manipulation</a>
</div>